:root {
  --color-primary: #7eb693;

  --body-font: "Open Sans", sans-serif;
  --sans-serif: "Roboto", sans-serif;
  --cursive: "Yellowtail", cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
}

header .nav-content img {
  max-width: 40px;
  border-radius: 50px;
}
