@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
:root {
  font-family: "Source Sans Pro", sans-serif;
  --color-blue: #7651fe;
  --color-green: #1acb97;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  color: #0e0e0e;
  background-color: #f5f4f8;
}

.nav {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-left: 20px;
}

#navicon {
  display: flex;
  justify-content: right;
  margin-right: 40px;
}

.navbarimage {
  margin-top: 6px;
  width: 30px;
  height: 30px;
  border-radius: 40px;
}

.navbarimagebell {
  width: 25px;
  height: 40px;
  border-radius: 10px;
}

.navbar {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  padding: 5px;
  color: black;
}

.navbar > a {
  text-decoration: none;
}

#bodycontent {
  background-color: var(--color-blue);
  display: flex;
  justify-content: space-evenly;
  color: #b8a3ff;
  flex-basis: 20%;
  align-items: center;
  padding-left: 10px;
  font-size: 1.4em;
}

.banner-image {
  width: 550px;
  height: 360px;
}

#background-image {
  display: flex;
}

.body-imagewords .body-h1 {
  color: white;
  font-size: 35px;
  margin-bottom: 3px;
}

.body-imagewords p {
  color: #b8a3ff;
  font-size: 18px;
}

.body-button1 {
  border-radius: 5px;
  font-size: 13px;
  background-color: var(--color-green);
  color: white;
  width: 150px;
  height: 42px;
}

.body-button2 {
  border-radius: 5px;
  font-size: 13px;
  width: 150px;
  height: 42px;
}

/* .......*/

.banner {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
}

.banner-rows-container {
  height: 70%;
  width: 300px;
  display: flex;
  justify-content: center;
}

.banner-rows-container h3 {
  margin: 0;
  font-size: 15px;
}

.banner-rows-container p {
  margin: 0;
  font-size: 12px;
}

.banner-rows-icons {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 20px;
  height: 40px;
}

.banner-rows-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  margin-left: 190px;
  font-size: 20px;
}

.banner-rows-text > h3 {
  font-weight: bold;
  font-size: 13px;
}

.banner-rows-text p {
  color: #86848d;
  font-size: 10px;
}

.background-color-recommended {
  width: 100%;
  height: 510px;
  background-color: #f5f4f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recommended-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommended-cards {
  width: 250px;
  height: 400px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
}

.cards-image {
  width: 100%;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-text-area {
  height: 228.52px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-main {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.duration-difficulty {
  display: flex;
}

.rating {
  display: flex;
}

.cards-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.118);
  padding-top: 6px;
  width: 235px;
}

.user {
  display: flex;
}

.user-icon img {
  width: 30px;
  border-radius: 20px;
  margin-bottom: 4px;
}

.background-color-mostPopular {
  width: 100%;
  height: 520px;
  background-color: #f5f4f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mostPopular-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mostPopular-cards {
  width: 250px;
  height: 400px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
}

.background-color-trending {
  width: 100%;
  height: 520px;
  background-color: #f5f4f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.trending-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trending-cards {
  width: 250px;
  height: 400px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
}

footer {
  background-color: #f5f4f8;
  display: flex;
  justify-content: space-between;
  margin-left: 9%;
  margin-right: 12%;
}

.footer-items {
  display: flex;
  align-items: center;
  color: #5b587a;
  padding-left: 40px;
}

.c-right-icon {
  height: 30%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5b587a;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav a {
  text-decoration: none;
  padding: 10px;
  color: #5b587a;
}

.rating-quantum {
  padding-left: 4px;
  font-size: 0.9em;
  color: rgb(137, 137, 137);
}

.price .reduced-price {
  font-weight: bolder;
  font-size: 18px;
}

.price .original-price {
  color: gray;
  text-decoration: line-through;
  padding-left: 10px;
  font-size: 18px;
}
