:root {
  --color-primary: #7eb693;
  --color-primary-light: #eff6f1;
  --color-secondary: #efd372;
  --color-dark: #274c5b;
  --color-light: #f9f8f8;

  --body-font: "Open Sans", sans-serif;
  --sans-serif: "Roboto", sans-serif;
  --cursive: "Yellowtail", cursive;
}

*,
*::before,
*::after {
  /* We set the default sizing behaviour */
  box-sizing: border-box;
}

body {
  background-color: #7eb693;
}
